.popup-container {
  width: 252px;
  height: 240px;
  background-color: #FFF;
}

.popup-header {
  padding: 0px;
  background-color: #007ACC;
  color: #FFF;
}



/* 버튼별 색상 설정 */
.button:nth-child(1) {
  background-color: #3498DB;
}

.button:nth-child(2) {
  background-color: #44C767;
}

.button:nth-child(3) {
  background-color: #E84E40;
}

.button:nth-child(4) {
  background-color: #FFA500;
}

.button {
  font-family: 'Noto Sans', sans-serif;
  font-weight: bold;
  width: calc(50% - 0px); /* 2개씩 정렬하면서 여백 고려 */
  height: 120px;
  color: #FFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
  white-space: pre-line;
  margin: px;
  
}

.popup-content {
  padding: 0px;
  display: flex;
  flex-wrap: wrap; /* 여러 줄에 걸쳐 배치 */
  justify-content: space-between;
}

.deck-stats {
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
}

html {
  margin: 0;
  padding: 0;
}
